<section id="home" name="home"></section>
	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<h1 style="color: #008080;">Alena Rybarczyk</h1>
				</div>
			</div><!--/row -->
		</div><!--/container -->
	</div><!--/headerwrap -->
	
	<section id="about" name="about"></section>
	<div id="aboutwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 name">
					<%= image_tag 'alena2.jpg', class: "img-responsive" %>
					<p>Alena Rybarczyk</p>
					<div class="name-label"></div>
				</div><!--/col-lg-4-->
				<div class="col-lg-8 name-desc">
					<h2>	BABYSITTER <br/> DOGSITTER <br/>MATH TUTOR <br/> </h2>
					
					<div class="col-md-6">
						<p>Hi, my name is Alena and I am 15 years old and currently a sophomore at Kennett High School. I am in all 5 of the honors classes offered at KHS for my grade. </p>
						<p>I started babysitting when I was 13 years old, and I love kids and enjoy helping them with their homework.  
						</p>
					</div>
					<div class="col-md-6">
						<p>I am in honors Math Analysis, which is 2 years ahead of my fellow classmates, and really love math and enjoy tranferring my knowledge for math to others who may need additional help.  I am also in AP Statistics and STEM - Architecture, which enables me to apply my knowledge of math to more focused areas.  
						</p>
						<p>In my spare time I enjoy skiing, tennis and playing the piano.</p>
						
					</div>
					
				</div><!--/col-lg-8-->
		
			</div><!-- /row -->
		</div><!-- /container -->
	</div> <!-- /aboutwrap
	
	<!-- ABOUT SEPARATOR -->
	
	<!-- PORTFOLIO SECTION -->
	<section id="portfolio" name="portfolio"></section>
	<div id="portfoliowrap">
		<div class="container">
			<div class="row row-centered">
			<!-- <div class="row"> -->
			<br />
			<br />
			<br />
				<h1>WHAT MY CLIENTS ARE SAYING ABOUT ME</h1>
					<div class="col-xs-4 col-centered"><P>"Alena has been babysitting our two girls (ages 4 & 6) for the past 2 years and they absolutely love when she is their babysitter."</P><em>Philippe L. & Marie-eve F.</em></div>
	        <div class="col-xs-4 col-centered"><P>"My 3 kids love Alena as their babysitter and she also helps them with homework and studying."</P><em>Radhika R.</em></div>
	        <div class="col-xs-4 col-centered"><P>"Alena has been taking care of our dog Gracie when we are out of town and she has been a godsend."</P><em>Elizabeth M.</em></div>
							
				<!-- </div> -->
			</div><!-- video-inline --><!-- /row -->
		</div><!--/container -->
	</div>
	</div><!--/Portfoliowrap -->

	<!-- CONTACT SEPARATOR -->
	
	
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="assets/js/classie.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/smoothscroll.js"></script>
	<script src="assets/js/jquery.stellar.min.js"></script>
	<script src="assets/js/fancybox/jquery.fancybox.js"></script>    
	<script src="assets/js/main.js"></script>
		<script>
		$(function(){
			$.stellar({
				horizontalScrolling: false,
				verticalOffset: 40
			});
		});
		</script>
		
		<script type="text/javascript">
      $(function() {
        //    fancybox
          jQuery(".fancybox").fancybox();
      });
	   </script>

